
<!-- ============ Instagram Banner - START ============ -->

<a
  class=""
  href="https://www.instagram.com/art_by_skylee"
  target="_blank"
>
  <div class="row .center-block insta-row">
    <div class="col-md-2 col-md-offset-3 text-center">
      <img
        src="/img/svg/instagram-brands.svg"
        alt=""
        srcset=""
        width="150"
        height="150"
      />
    </div>
    <div class="col-md-6 text-left" id="insta-text">
      <span class="arvo insta-text">See all works on </span
      ><span class="creepster insta-text-em">Instagram</span>
    </div>
  </div>
</a>

<!-- ============ Instagram Banner - END ============ -->


</div>
<!-- ============ Main  END ============ -->





<footer class="dark">
  <div class="copyright">
    &copy; 2020 - <strong>Skylee Perkins</strong>
  </div>
</footer>
</div>



<script src="/js/jquery.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/config.js"></script>
<script src="/js/main.js"></script>
<script src="/js/custom.js"></script>

<script>
$("#media-container").backstretch("img/bg.jpg");
</script>

<!-- Google Map Scripts -->
<script src="/js/map.js"></script>
</body>
</html>
